# Редирект с http на https создан автоматически при заказе бесплатного ssl-сертификата
RewriteEngine On
RewriteCond %{HTTP_HOST} ^remontservo.ru
RewriteRule (.*) http://www.remontservo.ru/$1 [R=301,L]
ErrorDocument 404 /404.html
# Конец редиректа

RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]
# Редирект с index.html на главную страницу

#возможность открывать файлы php в html
AddType application/x-httpd-php .html .htm .js

<ifModule mod_expires.c>

 ExpiresActive On
 #кэшировать флэш и изображения на месяц
 ExpiresByType image/x-icon "access plus 7 days"
 ExpiresByType image/jpeg "access plus 7 days"
 ExpiresByType image/png "access plus 7 days"
 ExpiresByType image/gif "access plus 7 days"
 ExpiresByType application/x-shockwave-flash "access plus 7 days"
 #кэшировать css, javascript и текстовые файлы на одну неделю
 ExpiresByType text/css "access plus 7 days"
 ExpiresByType text/javascript "access plus 7 days"
 ExpiresByType application/javascript "access plus 7 days"
 ExpiresByType application/x-javascript "access plus 7 days"
 #кэшировать html и htm файлы на один день
 ExpiresByType text/html "access plus 1 day"
 #кэшировать xml файлы на десять минут
 ExpiresByType application/xhtml+xml "access plus 10 minutes"
</ifModule>

#возможность открывать файлы php в html
AddType application/x-httpd-php .html .htm .js

